.declaration {
   color: #000080;
}

.dataType {
  color: #000080;
}

.command {
  color: #000080;
}

.function {
  color: #000080;
}

.enum {
  color: #000080;
  font-weight:bold;
  font-style:italic;
}

a:link.plain {
  color: #000080;
  text-decoration: none;
  font-weight:normal;
}

a:visited.plain {
  color: #000080;
  text-decoration: none;
  font-weight:normal;
}

a:active.plain {
  color: #000080;
  text-decoration: none;
  font-weight:normal;
}

a:focus.plain {
  color: #000080;
  text-decoration: none;
  font-weight:normal;
}

a:hover.plain {
  text-decoration: none;
  font-weight:bold;
}

.code {
  color: blue;
  font-weight:bold;
  font-size:10pt;
}

